apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: secure-supply-chain-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/toyinogun/Secure-Software-Supply-Chain-Pipeline.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: secure-apps
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
